$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}


body{
    color: rgb(0, 0, 0);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    
    @include adaptiv-font(16,12);
    line-height: 150%;

    width: 100%;
    height: 100%;
   
}
.wrapper {
   
    overflow: hidden;
}
.container{
    width: 73%;
    margin: 0 auto;
}
h1{
    @include adaptiv-font(50, 25);
    line-height: 120%;
    color: #FFFFFF;
    width: 58%;
}
a{
    @include adaptiv-font(16, 12);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    // font-size: 1.2vw;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
input[type = "submit"]{
    background: #1B7DFF;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    
    color: #FFFFFF;
}