header.header
    section.header__container.container
        .header__menu
            .header__logo
                img.logo(src="/img/odigo-Logo.svg", alt="логотип")
            .header__nav
                a.header__link(href="#") Articles
                a.header__link(href="#") Locations
                a.header__link(href="#") Videos
                a.header__link(href="#") Sign in
        .header__content
            h1 Discover Amazing places in Japan
            p Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, attack the child, open the door, 
            form(action="")
                .header__form-search
                    .oval
                    input(type="text" placehollder = "What would you like to do?") 
                .header__form-search
                    .oval
                    input(type="text" placehollder = "Where would you like to go?") 
                input(type="submit" value = "SEARCH")
